<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Contact</title>
</head>

<body>
    <div class="polka-dots"></div>
    <header>
        <a href="../index.html" class="logo">Port<span>folio</span></a>
        <div class="navbar">
            <ul>
                <li><a href="./me.html">Sobre Mi</a></li>
                <li><a href="./proyects.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>

    <main>
            <section class="profile-section">
                <div class="text-container">
                    <p>
                        Perfil de Linkedin para que puedas contactarme y/o ver mis aptitudes, certificados entre otros.<br>
                        <br>Linkedin profile so you can contact me and/or see my skills, certificates and more.
                    </p>
                    <p><br>Haz clic en la imagen | Click on the image</p>
                </div>
    
                <div class="image-contairne">
                    <a href="https://www.linkedin.com/in/ceballosjorge99/" target="_blank" aria-label="LinkedIn Profile">
                        <img src="../img/icons8-linkedin-200.png" alt="LinkedIn Profile Picture" width="100%">
                    </a>
                </div>
            </section>
    </main>
</body>

</html>