<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/me.css">
    <title>About me</title>
</head>

<body>
    <div class="polka-dots"></div>
    <header>
        <a href="../index.html" class="logo">Port<span>folio</span></a>
        <div class="navbar">
            <ul>
                <li><a href="./me.html">Sobre Mi</a></li>
                <li><a href="./proyects.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="contenedor">
            <div class="textme">
                <h1>
                    Jorge Ceballos
                </h1>
                <p>
                    Soy graduado en Full Stack Python con especialización en Front-End, adquirida a través de un
                    profundo
                    conocimiento de HTML y CSS, utilizando herramientas avanzadas como Visual Studio Code. Mi formación
                    incluye habilidades en el desarrollo tanto de la parte delantera como trasera de aplicaciones web,
                    con experiencia en la creación de interfaces atractivas y funcionales que mejoran la experiencia del
                    usuario y optimizan el rendimiento del sitio.
                </p>
            </div>
            <div class="textme">
                <h1>
                    Jorge Ceballos
                </h1>
                <p>
                    I am a graduate in Full Stack Python with a specialization in Front-End, acquired through a deep
                    understanding of HTML and CSS, using advanced tools such as Visual Studio Code. My education
                    includes skills in developing both the front and back ends of web applications, with experience in
                    creating attractive and functional interfaces that enhance user experience and optimize site
                    performance.
                </p>
            </div>
        </div>
    </main>


</body>

</html>