<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/proyects.css">
    <title>Proyects</title>
</head>

<body>
    <div class="polka-dots"></div>
    <header>
        <a href="../index.html" class="logo">Port<span>folio</span></a>
        <div class="navbar">
            <ul>
                <li><a href="./me.html">Sobre Mi</a></li>
                <li><a href="./proyects.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>

    <main id="creaciones">
        <div class="card">
            <img src="../img/mil_recetas_fondo.jpg" alt="">
            <div class="info">
                <h1>Mil Recetas</h1>
                <p>Trabajo grupal desarrollado en el curso de Codo a Codo. Una pagina destinada a las recetas, en el
                    cual podras encontrar miles de recetas ya sea por su tendencia o por su categoria. 100% responsive
                </p>
                <a href="https://milrecetas.vercel.app/" class="btn" target="_blank">Saber Más</a>
            </div>
        </div>
        <div class="card">
            <img src="../img/mela_nails_fondo.jpg" alt="">
            <div class="info">
                <h1>Mela Nails</h1>
                <p>Pagina desarrollada para mostrar el arte y el trabajo que se pueden hacer con las uñas, podras
                    encontrar desde imagenes de las uñas, hasta información de contacto. 100% responsive</p>
                <a href="https://jorgecabj.github.io/Mela-Nails/" class="btn" target="_blank">Saber Más</a>
            </div>
        </div>
        <div class="card">
            <img src="../img/proximamente-transformed.jpeg" alt="">
            <div class="info">
                <h1>Futuras paginas</h1>
                <p>Future pages in process of creation // Futuras paginas en proceso de creación</p>
                <a href="#" class="btn">Saber Más</a>
            </div>
        </div>
    </main>
</body>

</html>