<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Proyects</title>
</head>
<body>
    <header>
        <a href="../index.html" class="logo">Port<span>folio</span></a>
        <div class="navbar">
            <ul>
                <li><a href="./me.html">Sobre Mi</a></li>
                <li><a href="./proyects.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </div>
    </header>
</body>
</html>